.newDuckTop {
  align-items    : center;
  background     : #fff;
  color          : #1877e6;
  display        : flex;
  justify-content: space-between;
  padding        : 11px;
}

.pointer {
  cursor: pointer;
}

.newDuckInputContainer {
  composes: baseTextAreaContainer from 'sharedStyles/styles.css';
}

.newDuckInput {
  border-with: 0;
  composes   : baseTextArea from 'sharedStyles/styles.css';
}

.darkBtn {
  composes       : darkBtn from 'sharedStyles/styles.css';
  text-decoration: none;
}

.submitDuckBtn {
  composes  : darkBtn;
  display   : block;
  margin    : 0px auto;
  text-align: center;
  width     : 150px;
}

.submitDuckBtn:disabled {
  background: #c6c6c6;
  border    : 1px solid #c6c6c6;
}
